.nav{
    overflow: hidden;
}

.sk{
    position: absolute;
    top: 30px;
    left: 180px;
    width: 50px;
    height: 30px;
    
}
.sk_list{
    float: left;
}
.sk_list li{
    float: left;
}
.sk_list li a{
    display: block;
    line-height: 47px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.sk_com{
    float: left;
}
.sk_com{
    float: right;
}
.sk_com li{
    float: left;
}
.sk_com li a{
    display: block;
    line-height: 47px;
    padding: 0 20px;
    font-size: 15px;

}
.sk_com ul li:last-child a::after{
    font-family: 'icomoon';
    content: '\ea50';
    margin-left: 5px;

}
.sk_container{
    width: 1200px;
    
}
.sk_container .sk_hd{
    width: 1200px;
    
    margin: 5px auto;
}
.sk_container .sk_hd img{
    width: 1200px;
}
.sk_container .sk_bd{
    width: 1200px;
    
  
}

.sk_bd ul li {
    display: inline-block;
    width: 289.5px;
    height: 460px;
    overflow: hidden;
    margin-right: 10px;
    /* li本身就有1像素边框 */
    border: 1px solid transparent;
    
}
.sk_bd ul li:nth-child(4n){
    margin-right: 0;

}

.sk_bd ul li:hover{
    border: 1px solid #c81523;
}

